<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laporan Data Karyawan</title>
    <style>
        body {
            width: 1000px;
        }

        .container {
            margin: 0 30px;
        }

        .custom-table {
            border-collapse: collapse !important;
            width: 100%;
        }

        tr > th {
            font-family: sans-serif;
            font-size: 10px;
            font-weight: 500;
        }

        td, th {
            border: 1px solid black ;
            text-align: left;
            padding: 8px;
        }

        tr > td {
            font-size: 12px;
        }

        /* tr:nth-child(even) {
            background-color: #dddddd;
        } */

    </style>
</head>
<body>
    <div class="container">
        <table style="width:100%; margin-bottom: 40px; background-color: transparent">
            <tr>
                <td style="width: 60%; border: none;"></td>
                <td colspan="1" style="text-align: left; border: none ">
                    <table>
                        <tr>
                            <td style="border: none;">
                                <img src="data:image/png;base64,{{logo}}" width="48" style="margin-right: 12px;">
                            </td>
                            <td style="border: none;">             
                                <p style="font-weight: 600; margin-top: 0; margin-bottom: 8px; font-size: 18px;">PT. ALTAFLIX TECHNO GLOBAL</p>
                                <p style="margin: 0; font-size: 12px;">Managing IT The Better Way</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table style="width: 97%" class="custom-table">
            <tr>
                <th style="border: none; text-align: left;">
                    <p style="font-weight: bold; font-size: 17px">Data Penilaian</p>
                </th>
                <th style="border: none;">
                </th>
                <th style="border: none;"></th>
                <th style="border: none;"></th>
                <th style="border: none;"></th>
            </tr>
            <tr>
                <td rowspan="8" style="width: 155px ;background: transparent !important; border: none; text-align: left; vertical-align: top;">
                    <img src="data:image/png;base64,{{photoKaryawan}}" width="140" style="margin-right: 12px;">
                    <!-- <img src="./altaflix.png" width="48" style="margin: 12px 0"> -->
                </td>
                <td style="width: 130px; border: none;">NIK</td>
                <td style="width: 340px; border: none;">: {{nik}}</td>
                <td style="border: none;">No</td>
                <td style="border: none;">: {{noPenilaian}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Nama</td>
                <td style="width: 340px; border: none;">: {{namaKaryawan}}</td>
                <td style="border-top: none; border-right: none; border-left: none;">Tanggal</td>
                <td style="border-top: none; border-right: none; border-left: none;">: {{tglPenilaian}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Jenis Kelamin</td>
                <td style="width: 340px; border: none;">: {{jenis_kelamin}}</td>
                <td style="border: none;">Prestasi Pekerjaan</td>
                <td style="border: none;">: {{prestasiPekerjaan}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Tempat, Tanggal Lahir</td>
                <td style="width: 340px; border: none;">: {{tempat_lahir}}, {{tanggal_lahir}}</td>
                <td style="border: none;">Kemampuan Teknis</td>
                <td style="border: none;">: {{kemampuanTeknis}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Status Karyawan</td>
                <td style="width: 340px; border: none;">: {{status_karyawan}}</td>
                <td style="border: none;">Kedisiplinan</td>
                <td style="border: none;">: {{kedisiplinan}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Jabatan</td>
                <td style="width: 340px; border: none;">: {{namaJabatan}}</td>
                <td style="border: none;">Komunikasi</td>
                <td style="border: none;">: {{komunikasi}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Divisi</td>
                <td style="width: 340px; border: none;">: {{namaDivisi}}</td>
                <td style="border-top: none; border-right: none; border-left: none;">Kerja Sama</td>
                <td style="border-top: none; border-right: none; border-left: none;">: {{kerjaSama}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Proyek</td>
                <td style="width: 340px; border: none;">: {{namaProjek}}</td>
                <td style="border: none;">Hasil Akhir</td>
                <td style="border: none;">: {{nilaiHasil}}</td>
            </tr>
        </table>
        <table style="width: 97%" class="custom-table">
            <tr>
                <th style="border: none; text-align: left;">
                    <p style="font-weight: bold; font-size: 17px">Data Penilaian</p>
                </th>
                <th style="border: none;">
                </th>
                <th style="border: none;"></th>
                <th style="border: none;"></th>
                <th style="border: none;"></th>
            </tr>
            <tr>
                <td rowspan="8" style="width: 155px ;background: transparent !important; border: none; text-align: left; vertical-align: top;">
                    <img src="data:image/png;base64,{{photoKaryawan}}" width="140" style="margin-right: 12px;">
                    <!-- <img src="./altaflix.png" width="48" style="margin: 12px 0"> -->
                </td>
                <td style="width: 130px; border: none;">NIK</td>
                <td style="width: 340px; border: none;">: {{nik}}</td>
                <td style="border: none;">No</td>
                <td style="border: none;">: {{noPenilaian}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Nama</td>
                <td style="width: 340px; border: none;">: {{namaKaryawan}}</td>
                <td style="border-top: none; border-right: none; border-left: none;">Tanggal</td>
                <td style="border-top: none; border-right: none; border-left: none;">: {{tglPenilaian}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Jenis Kelamin</td>
                <td style="width: 340px; border: none;">: {{jenis_kelamin}}</td>
                <td style="border: none;">Prestasi Pekerjaan</td>
                <td style="border: none;">: {{prestasiPekerjaan}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Tempat, Tanggal Lahir</td>
                <td style="width: 340px; border: none;">: {{tempat_lahir}}, {{tanggal_lahir}}</td>
                <td style="border: none;">Kemampuan Teknis</td>
                <td style="border: none;">: {{kemampuanTeknis}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Status Karyawan</td>
                <td style="width: 340px; border: none;">: {{status_karyawan}}</td>
                <td style="border: none;">Kedisiplinan</td>
                <td style="border: none;">: {{kedisiplinan}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Jabatan</td>
                <td style="width: 340px; border: none;">: {{namaJabatan}}</td>
                <td style="border: none;">Komunikasi</td>
                <td style="border: none;">: {{komunikasi}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Divisi</td>
                <td style="width: 340px; border: none;">: {{namaDivisi}}</td>
                <td style="border-top: none; border-right: none; border-left: none;">Kerja Sama</td>
                <td style="border-top: none; border-right: none; border-left: none;">: {{kerjaSama}}</td>
            </tr>
            <tr>
                <td style="width: 130px; border: none;">Proyek</td>
                <td style="width: 340px; border: none;">: {{namaProjek}}</td>
                <td style="border: none;">Hasil Akhir</td>
                <td style="border: none;">: {{nilaiHasil}}</td>
            </tr>
        </table>
    </div>
</body>
</html>